body {
  background-image: url('https://cdn.pixabay.com/photo/2018/01/12/14/24/night-3078326_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.cardbody {
  background: inherit;
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 20px 5px #c8dcb5;  
}

.card {
  background: inherit;
  backdrop-filter: blur(10px);  
}

.card button {
  opacity: 1;
}
